openapi: 3.0.2
info:
  contact:
    email: developers@etsy.com
  description: <div class="wt-text-body-01"><p class="wt-pt-xs-2 wt-pb-xs-2">Etsy's
    Open API provides a simple RESTful interface for various Etsy.com features. The
    API endpoints are meant to replace Etsy's Open API v2, which is scheduled to end
    service in 2022.</p><p class="wt-pb-xs-2">All of the endpoints are callable and
    the majority of the API endpoints are now in a beta phase. This means we do not
    expect to make any breaking changes before our general release. A handful of endpoints
    are currently interface stubs (labeled “Feedback Only”) and returns a "501 Not
    Implemented" response code when called.</p><p class="wt-pb-xs-2">If you'd like
    to report an issue or provide feedback on the API design, <a target="_blank" class="wt-text-link
    wt-p-xs-0" href="https://github.com/etsy/open-api/discussions">please add an issue
    in Github</a>.</p></div>&copy; 2021-2023 Etsy, Inc. All Rights Reserved. Use of
    this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank'
    href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.
  termsOfService: https://www.etsy.com/legal/api
  title: Etsy Open API v3
  version: 3.0.0
servers:
- description: Base URL for all Open API endpoints.
  url: https://openapi.etsy.com
security:
- api_key: []
tags:
- name: User
- name: UserAddress
- name: Shop Receipt Transactions
- name: Other
- name: Shop
- name: Shop ShippingProfile
- name: Shop Section
- name: ShopListing
- name: Shop ProductionPartner
- name: Shop Return Policy
- name: SellerTaxonomy
- name: Review
- name: Shop Receipt
- name: Payment
- name: Ledger Entry
- name: ShopListing Video
- name: ShopListing VariationImage
- name: ShopListing Translation
- name: ShopListing Inventory
- name: ShopListing Offering
- name: ShopListing Product
- name: ShopListing Image
- name: ShopListing File
- name: BuyerTaxonomy
paths:
  /v3/application/buyer-taxonomy/nodes:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the full hierarchy tree of buyer taxonomy nodes.
      operationId: getBuyerTaxonomyNodes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerTaxonomyNodes'
          description: List the full hierarchy tree of buyer taxonomy nodes.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - BuyerTaxonomy
      x-accepts: application/json
  /v3/application/buyer-taxonomy/nodes/{taxonomy_id}/properties:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a list of product properties, with applicable scales and values, supported for a specific buyer taxonomy ID.
      operationId: getPropertiesByBuyerTaxonomyId
      parameters:
      - description: 'The unique numeric ID of an Etsy taxonomy node, which is a metadata
          category for listings organized into the seller taxonomy hierarchy tree.
          For example, the "shoes" taxonomy node (ID: 1429, level: 1) is higher in
          the hierarchy than "girls'' shoes" (ID: 1440, level: 2). The taxonomy nodes
          assigned to a listing support access to specific standardized product scales
          and properties. For example, listings assigned the taxonomy nodes "shoes"
          or "girls'' shoes" support access to the "EU" shoe size scale with its associated
          property names and IDs for EU shoe sizes, such as property `value_id`:"1394",
          and `name`:"38".'
        explode: false
        in: path
        name: taxonomy_id
        required: true
        schema:
          description: 'The unique numeric ID of an Etsy taxonomy node, which is a
            metadata category for listings organized into the seller taxonomy hierarchy
            tree. For example, the "shoes" taxonomy node (ID: 1429, level: 1) is higher
            in the hierarchy than "girls'' shoes" (ID: 1440, level: 2). The taxonomy
            nodes assigned to a listing support access to specific standardized product
            scales and properties. For example, listings assigned the taxonomy nodes
            "shoes" or "girls'' shoes" support access to the "EU" shoe size scale
            with its associated property names and IDs for EU shoe sizes, such as
            property `value_id`:"1394", and `name`:"38".'
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerTaxonomyNodeProperties'
          description: A list of product properties, with applicable scales and values.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - BuyerTaxonomy
      x-accepts: application/json
  /v3/application/shops/{shop_id}/listings:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Endpoint to list Listings that belong to a Shop. Listings can be filtered using the 'state' param.
      operationId: getListingsByShop
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: 'When _updating_ a listing, this value can be either `active`
          or `inactive`. Note: Setting a `draft` listing to `active` will also publish
          the listing on etsy.com and requires that the listing have an image set.
          Setting a `sold_out` listing to active will update the quantity to 1 and
          renew the listing on etsy.com.'
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: active
          description: 'When _updating_ a listing, this value can be either `active`
            or `inactive`. Note: Setting a `draft` listing to `active` will also publish
            the listing on etsy.com and requires that the listing have an image set.
            Setting a `sold_out` listing to active will update the quantity to 1 and
            renew the listing on etsy.com.'
          enum:
          - active
          - inactive
          - sold_out
          - draft
          - expired
          type: string
        style: form
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      - description: 'The value to sort a search result of listings on. NOTES: a)
          `sort_on` only works when combined with one of the search options (keywords,
          region, etc.). b) when using `score` the returned results will always be
          in _descending_ order, regardless of the `sort_order` parameter.'
        explode: true
        in: query
        name: sort_on
        required: false
        schema:
          default: created
          description: 'The value to sort a search result of listings on. NOTES: a)
            `sort_on` only works when combined with one of the search options (keywords,
            region, etc.). b) when using `score` the returned results will always
            be in _descending_ order, regardless of the `sort_order` parameter.'
          enum:
          - created
          - price
          - updated
          - score
          type: string
        style: form
      - description: 'The ascending(up) or descending(down) order to sort listings
          by. NOTE: sort_order only works when combined with one of the search options
          (keywords, region, etc.).'
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          description: 'The ascending(up) or descending(down) order to sort listings
            by. NOTE: sort_order only works when combined with one of the search options
            (keywords, region, etc.).'
          enum:
          - asc
          - ascending
          - desc
          - descending
          - up
          - down
          type: string
        style: form
      - description: An enumerated string that attaches a valid association. Acceptable
          inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          description: An enumerated string that attaches a valid association. Acceptable
            inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
          items:
            enum:
            - Shipping
            - Images
            - Shop
            - User
            - Translations
            - Inventory
            - Videos
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListingsWithAssociations'
          description: A list of Listings
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing
      x-accepts: application/json
    post:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Creates a physical draft [listing](/documentation/reference#tag/ShopListing) product in a shop on the Etsy channel.
      operationId: createDraftListing
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                quantity:
                  description: 'The positive non-zero number of products available
                    for purchase in the listing. Note: The listing quantity is the
                    sum of available offering quantities. You can request the quantities
                    for individual offerings from the ListingInventory resource using
                    the [getListingInventory](/documentation/reference#operation/getListingInventory)
                    endpoint.'
                  type: integer
                title:
                  description: 'The listing''s title string. When creating or updating
                    a listing, valid title strings contain only letters, numbers,
                    punctuation marks, mathematical symbols, whitespace characters,
                    ™, ©, and ®. (regex: /[^\p{L}\p{Nd}\p{P}\p{Sm}\p{Zs}™©®]/u) You
                    can only use the %, :, & and + characters once each.'
                  type: string
                description:
                  description: A description string of the product for sale in the
                    listing.
                  type: string
                price:
                  description: 'The positive non-zero price of the product. (Sold
                    product listings are private) Note: The price is the minimum possible
                    price. The [`getListingInventory`](/documentation/reference/#operation/getListingInventory)
                    method requests exact prices for available offerings.'
                  format: float
                  type: number
                who_made:
                  description: An enumerated string indicating who made the product.
                    Helps buyers locate the listing under the Handmade heading. Requires
                    'is_supply' and 'when_made'.
                  enum:
                  - i_did
                  - someone_else
                  - collective
                  type: string
                when_made:
                  description: An enumerated string for the era in which the maker
                    made the product in this listing. Helps buyers locate the listing
                    under the Vintage heading. Requires 'is_supply' and 'who_made'.
                  enum:
                  - made_to_order
                  - 2020_2023
                  - 2010_2019
                  - 2004_2009
                  - before_2004
                  - 2000_2003
                  - 1990s
                  - 1980s
                  - 1970s
                  - 1960s
                  - 1950s
                  - 1940s
                  - 1930s
                  - 1920s
                  - 1910s
                  - 1900s
                  - 1800s
                  - 1700s
                  - before_1700
                  type: string
                taxonomy_id:
                  description: The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)
                    and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy)
                    for more information.
                  minimum: 1
                  type: integer
                shipping_profile_id:
                  description: The numeric ID of the [shipping profile](/documentation/reference#operation/getShopShippingProfile)
                    associated with the listing. Required when listing type is `physical`.
                  minimum: 1
                  nullable: true
                  type: integer
                return_policy_id:
                  description: The numeric ID of the [Return Policy](/documentation/reference#operation/getShopReturnPolicies).
                  minimum: 1
                  nullable: true
                  type: integer
                materials:
                  description: 'A list of material strings for materials used in the
                    product. Valid materials strings contain only letters, numbers,
                    and whitespace characters. (regex: /[^\p{L}\p{Nd}\p{Zs}]/u) Default
                    value is null.'
                  items:
                    type: string
                  nullable: true
                  type: array
                shop_section_id:
                  description: The numeric ID of the [shop section](/documentation/reference#tag/Shop-Section)
                    for this listing. Default value is null.
                  minimum: 1
                  nullable: true
                  type: integer
                processing_min:
                  description: The minimum number of days required to process this
                    listing. Default value is null.
                  nullable: true
                  type: integer
                processing_max:
                  description: The maximum number of days required to process this
                    listing. Default value is null.
                  nullable: true
                  type: integer
                tags:
                  description: 'A comma-separated list of tag strings for the listing.
                    When creating or updating a listing, valid tag strings contain
                    only letters, numbers, whitespace characters, -, '', ™, ©, and
                    ®. (regex: /[^\p{L}\p{Nd}\p{Zs}\-''™©®]/u) Default value is null.'
                  items:
                    type: string
                  nullable: true
                  type: array
                styles:
                  description: 'An array of style strings for this listing, each of
                    which is free-form text string such as "Formal", or "Steampunk".
                    When creating or updating a listing, the listing may have up to
                    two styles. Valid style strings contain only letters, numbers,
                    and whitespace characters. (regex: /[^\p{L}\p{Nd}\p{Zs}]/u) Default
                    value is null.'
                  items:
                    type: string
                  nullable: true
                  type: array
                item_weight:
                  description: The numeric weight of the product measured in units
                    set in 'item_weight_unit'. Default value is null. If set, the
                    value must be greater than 0.
                  format: float
                  maximum: 1.79769313486E+308
                  minimum: 0
                  nullable: true
                  type: number
                item_length:
                  description: The numeric length of the product measured in units
                    set in 'item_dimensions_unit'. Default value is null. If set,
                    the value must be greater than 0.
                  format: float
                  maximum: 1.79769313486E+308
                  minimum: 0
                  nullable: true
                  type: number
                item_width:
                  description: The numeric width of the product measured in units
                    set in 'item_dimensions_unit'. Default value is null. If set,
                    the value must be greater than 0.
                  format: float
                  maximum: 1.79769313486E+308
                  minimum: 0
                  nullable: true
                  type: number
                item_height:
                  description: The numeric height of the product measured in units
                    set in 'item_dimensions_unit'. Default value is null. If set,
                    the value must be greater than 0.
                  format: float
                  maximum: 1.79769313486E+308
                  minimum: 0
                  nullable: true
                  type: number
                item_weight_unit:
                  description: A string defining the units used to measure the weight
                    of the product. Default value is null.
                  enum:
                  - oz
                  - lb
                  - g
                  - kg
                  nullable: true
                  type: string
                item_dimensions_unit:
                  description: A string defining the units used to measure the dimensions
                    of the product. Default value is null.
                  enum:
                  - in
                  - ft
                  - mm
                  - cm
                  - m
                  - yd
                  - inches
                  nullable: true
                  type: string
                is_personalizable:
                  description: When true, this listing is personalizable. The default
                    value is null.
                  type: boolean
                personalization_is_required:
                  description: When true, this listing requires personalization. The
                    default value is null. Will only change if is_personalizable is
                    'true'.
                  type: boolean
                personalization_char_count_max:
                  description: This is an integer value representing the maximum length
                    for the personalization message entered by the buyer. Will only
                    change if is_personalizable is 'true'.
                  type: integer
                personalization_instructions:
                  description: A string representing instructions for the buyer to
                    enter the personalization. Will only change if is_personalizable
                    is 'true'.
                  type: string
                production_partner_ids:
                  description: An array of unique IDs of production partner ids.
                  items:
                    minimum: 1
                    type: integer
                  nullable: true
                  type: array
                image_ids:
                  description: An array of numeric image IDs of the images in a listing,
                    which can include up to 10 images.
                  items:
                    minimum: 1
                    type: integer
                  nullable: true
                  type: array
                is_supply:
                  description: When true, tags the listing as a supply product, else
                    indicates that it's a finished product. Helps buyers locate the
                    listing under the Supplies heading. Requires 'who_made' and 'when_made'.
                  type: boolean
                is_customizable:
                  description: When true, a buyer may contact the seller for a customized
                    order. The default value is true when a shop accepts custom orders.
                    Does not apply to shops that do not accept custom orders.
                  type: boolean
                should_auto_renew:
                  description: When true, renews a listing for four months upon expiration.
                  type: boolean
                is_taxable:
                  description: When true, applicable [shop](/documentation/reference#tag/Shop)
                    tax rates apply to this listing at checkout.
                  type: boolean
                type:
                  description: An enumerated type string that indicates whether the
                    listing is physical or a digital download.
                  enum:
                  - physical
                  - download
                  - both
                  type: string
              required:
              - description
              - price
              - quantity
              - taxonomy_id
              - title
              - when_made
              - who_made
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListing'
          description: A single ShopListing
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /v3/application/listings/{listing_id}:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to delete a ShopListing. A ShopListing can be deleted only if the state is one of the following:  SOLD_OUT, DRAFT, EXPIRED, INACTIVE, ACTIVE and is_available or ACTIVE and has seller flags:  SUPRESSED (frozen), VACATION, CUSTOM_SHOPS (pattern), SELL_ON_FACEBOOK
      operationId: deleteListing
      parameters:
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      responses:
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
        "204":
          description: The Listing resource was correctly deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_d
      tags:
      - ShopListing
      x-accepts: application/json
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a listing record by listing ID.
      operationId: getListing
      parameters:
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: An enumerated string that attaches a valid association. Acceptable
          inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          description: An enumerated string that attaches a valid association. Acceptable
            inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
          items:
            enum:
            - Shipping
            - Images
            - Shop
            - User
            - Translations
            - Inventory
            - Videos
            type: string
          type: array
        style: form
      - description: 'The IETF language tag for the language of this translation.
          Ex: `de`, `en`, `es`, `fr`, `it`, `ja`, `nl`, `pl`, `pt`.'
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: "null"
          description: 'The IETF language tag for the language of this translation.
            Ex: `de`, `en`, `es`, `fr`, `it`, `ja`, `nl`, `pl`, `pt`.'
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListingWithAssociations'
          description: A single Listing.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
      x-accepts: application/json
  /v3/application/shops/{shop_id}/listings/{listing_id}/files/{listing_file_id}:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Deletes a file from a specific listing. When you delete the final file for a digital listing, the listing converts into a physical listing. The response to a delete request returns a list of the remaining file records associated with the given listing.
      operationId: deleteListingFile
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: The unique numeric ID of a file associated with a digital listing.
        explode: false
        in: path
        name: listing_file_id
        required: true
        schema:
          description: The unique numeric ID of a file associated with a digital listing.
          minimum: 1
          type: integer
        style: simple
      responses:
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "204":
          description: The ShopListingFile resource was correctly deleted
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing File
      x-accepts: application/json
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a single file associated with the given digital listing. Requesting a file from a physical listing returns an empty result.
      operationId: getListingFile
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: The unique numeric ID of a file associated with a digital listing.
        explode: false
        in: path
        name: listing_file_id
        required: true
        schema:
          description: The unique numeric ID of a file associated with a digital listing.
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListingFile'
          description: The metatdata for a file associated with a digital listing.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing File
      x-accepts: application/json
  /v3/application/shops/{shop_id}/listings/{listing_id}/files:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves all the files associated with the given digital listing. Requesting files from a physical listing returns an empty result.
      operationId: getAllListingFiles
      parameters:
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListingFiles'
          description: A list of metadata objects for the file resources associated
            with a listing.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing File
      x-accepts: application/json
    post:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Uploads a new file for a digital listing, or associates an existing file with a specific listing. You must either provide the `listing_file_id` of an existing file, or the name and binary file data for a file to upload. Associating an existing file to a physical listing converts the physical listing into a digital listing, which removes all shipping costs and any product and inventory variations.
      operationId: uploadListingFile
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          multipart/form-data:
            schema:
              properties:
                listing_file_id:
                  description: The unique numeric ID of a file associated with a digital
                    listing.
                  minimum: 1
                  type: integer
                file:
                  description: A binary file to upload.
                  format: binary
                  nullable: true
                  type: string
                name:
                  description: The file name string of a file to upload
                  type: string
                rank:
                  default: 1
                  description: The positive non-zero numeric position in the images
                    displayed in a listing, with rank 1 images appearing in the left-most
                    position in a listing.
                  minimum: 1
                  type: integer
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListingFile'
          description: The metadata for a file associated with a digital listing.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing File
      x-contentType: multipart/form-data
      x-accepts: application/json
  /v3/application/listings/active:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        A list of all active listings on Etsy paginated by their creation date. Without sort_order listings will be returned newest-first by default.
      operationId: findAllListingsActive
      parameters:
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      - description: Search term or phrase that must appear in all results.
        explode: true
        in: query
        name: keywords
        required: false
        schema:
          default: "null"
          description: Search term or phrase that must appear in all results.
          type: string
        style: form
      - description: 'The value to sort a search result of listings on. NOTES: a)
          `sort_on` only works when combined with one of the search options (keywords,
          region, etc.). b) when using `score` the returned results will always be
          in _descending_ order, regardless of the `sort_order` parameter.'
        explode: true
        in: query
        name: sort_on
        required: false
        schema:
          default: created
          description: 'The value to sort a search result of listings on. NOTES: a)
            `sort_on` only works when combined with one of the search options (keywords,
            region, etc.). b) when using `score` the returned results will always
            be in _descending_ order, regardless of the `sort_order` parameter.'
          enum:
          - created
          - price
          - updated
          - score
          type: string
        style: form
      - description: 'The ascending(up) or descending(down) order to sort listings
          by. NOTE: sort_order only works when combined with one of the search options
          (keywords, region, etc.).'
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          description: 'The ascending(up) or descending(down) order to sort listings
            by. NOTE: sort_order only works when combined with one of the search options
            (keywords, region, etc.).'
          enum:
          - asc
          - ascending
          - desc
          - descending
          - up
          - down
          type: string
        style: form
      - description: The minimum price of listings to be returned by a search result.
        explode: true
        in: query
        name: min_price
        required: false
        schema:
          description: The minimum price of listings to be returned by a search result.
          format: float
          type: number
        style: form
      - description: The maximum price of listings to be returned by a search result.
        explode: true
        in: query
        name: max_price
        required: false
        schema:
          description: The maximum price of listings to be returned by a search result.
          format: float
          type: number
        style: form
      - description: The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)
          and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy) for more
          information.
        explode: true
        in: query
        name: taxonomy_id
        required: false
        schema:
          description: The numerical taxonomy ID of the listing. See [SellerTaxonomy](/documentation/reference#tag/SellerTaxonomy)
            and [BuyerTaxonomy](/documentation/reference#tag/BuyerTaxonomy) for more
            information.
          minimum: 1
          type: integer
        style: form
      - description: Filters by shop location. If location cannot be parsed, Etsy
          responds with an error.
        explode: true
        in: query
        name: shop_location
        required: false
        schema:
          default: "null"
          description: Filters by shop location. If location cannot be parsed, Etsy
            responds with an error.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListings'
          description: A list of all active listings on Etsy paginated by their creation
            date. Without sort_order listings will be returned newest-first by default.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
      x-accepts: application/json
  /v3/application/shops/{shop_id}/listings/active:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves a list of all active listings on Etsy in a specific shop, paginated by listing creation date.
      operationId: findAllActiveListingsByShop
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: 'The value to sort a search result of listings on. NOTES: a)
          `sort_on` only works when combined with one of the search options (keywords,
          region, etc.). b) when using `score` the returned results will always be
          in _descending_ order, regardless of the `sort_order` parameter.'
        explode: true
        in: query
        name: sort_on
        required: false
        schema:
          default: created
          description: 'The value to sort a search result of listings on. NOTES: a)
            `sort_on` only works when combined with one of the search options (keywords,
            region, etc.). b) when using `score` the returned results will always
            be in _descending_ order, regardless of the `sort_order` parameter.'
          enum:
          - created
          - price
          - updated
          - score
          type: string
        style: form
      - description: 'The ascending(up) or descending(down) order to sort listings
          by. NOTE: sort_order only works when combined with one of the search options
          (keywords, region, etc.).'
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          description: 'The ascending(up) or descending(down) order to sort listings
            by. NOTE: sort_order only works when combined with one of the search options
            (keywords, region, etc.).'
          enum:
          - asc
          - ascending
          - desc
          - descending
          - up
          - down
          type: string
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      - description: Search term or phrase that must appear in all results.
        explode: true
        in: query
        name: keywords
        required: false
        schema:
          default: "null"
          description: Search term or phrase that must appear in all results.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListings'
          description: Retrieves a list of all active listings on Etsy in a specific
            shop, paginated by listing creation date.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
      x-accepts: application/json
  /v3/application/shops/{shop_id}/listings/{listing_id}/images/{listing_image_id}:
    delete:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to delete a listing image. A copy of the file remains on our servers, and so a deleted image may be re-associated with the listing without re-uploading the original image; see uploadListingImage.
      operationId: deleteListingImage
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
          for this transaction.
        explode: false
        in: path
        name: listing_image_id
        required: true
        schema:
          description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
            for this transaction.
          minimum: 1
          type: integer
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "204":
          description: The ListingImage resource was correctly deleted
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Image
      x-accepts: application/json
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        NOTE: This endpoint is being deprecated in favor of not requiring the shops/:shop_id as part of the URL. Retrieves the references and metadata for a listing image with a specific image ID.
      operationId: getListingImageDeprecated
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
          for this transaction.
        explode: false
        in: path
        name: listing_image_id
        required: true
        schema:
          description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
            for this transaction.
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingImage'
          description: A single ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Image
      x-accepts: application/json
  /v3/application/listings/{listing_id}/images/{listing_image_id}:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the references and metadata for a listing image with a specific image ID.
      operationId: getListingImage
      parameters:
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
          for this transaction.
        explode: false
        in: path
        name: listing_image_id
        required: true
        schema:
          description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
            for this transaction.
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingImage'
          description: A single ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Image
      x-accepts: application/json
  /v3/application/listings/{listing_id}/images:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves all listing image resources for a listing with a specific listing ID.
      operationId: getListingImages
      parameters:
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingImages'
          description: An array of ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Image
      x-accepts: application/json
  /v3/application/shops/{shop_id}/listings/{listing_id}/images:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        NOTE: This endpoint is being deprecated in favor of not requiring the shops/:shop_id as part of the URL. Retrieves all listing image resources for a listing with a specific listing ID.
      operationId: getListingImagesDeprecated
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingImages'
          description: A single ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Image
      x-accepts: application/json
    post:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Uploads or assigns an image to a listing identified by a shop ID with a listing ID. To upload a new image, set the image file as the value for the `image` parameter. You can assign a previously deleted image to a listing using the deleted image's image ID in the `listing_image_id` parameter. When a request contains both `image` and `listing_image_id` parameter values, the endpoint uploads the image in the `image` parameter only. Note: When uploading a new image, data such as colors and size may return as null values due to asynchronous processing of the image. Use getListingImage endpoint to fetch these values.
      operationId: uploadListingImage
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          multipart/form-data:
            schema:
              properties:
                image:
                  description: The file name string of a file to upload
                  format: binary
                  nullable: true
                  type: string
                listing_image_id:
                  description: The numeric ID of the primary [listing image](/documentation/reference#tag/ShopListing-Image)
                    for this transaction.
                  minimum: 1
                  type: integer
                rank:
                  default: 1
                  description: The positive non-zero numeric position in the images
                    displayed in a listing, with rank 1 images appearing in the left-most
                    position in a listing.
                  minimum: 0
                  type: integer
                overwrite:
                  default: false
                  description: When true, this request replaces the existing image
                    at a given rank.
                  type: boolean
                is_watermarked:
                  default: false
                  description: When true, indicates that the uploaded image has a
                    watermark.
                  type: boolean
                alt_text:
                  default: ""
                  description: Alt text for the listing image. Max length 250 characters.
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingImage'
          description: A single ListingImage
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a request conflict with the current state of the
            target resource. See the error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Image
      x-contentType: multipart/form-data
      x-accepts: application/json
  /v3/application/listings/{listing_id}/inventory:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves the inventory record for a listing. Listings you did not edit using the Etsy.com inventory tools have no inventory records. This endpoint returns SKU data if you are the owner of the inventory records being fetched.
      operationId: getListingInventory
      parameters:
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      - description: A boolean value for inventory whether to include deleted products
          and their offerings. Default value is false.
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          description: A boolean value for inventory whether to include deleted products
            and their offerings. Default value is false.
          type: boolean
        style: form
      - description: An enumerated string that attaches a valid association. Default
          value is null.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          description: An enumerated string that attaches a valid association. Default
            value is null.
          enum:
          - Listing
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingInventoryWithAssociations'
          description: A single listing inventory record.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing Inventory
      x-accepts: application/json
    put:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Updates the inventory for a listing identified by a listing ID. The update fails if the supplied values for product sku, offering quantity, and/or price are incompatible with values in `*_on_property_*` fields. When setting a price, assign a float equal to amount divided by divisor as specified in the Money resource.
      operationId: updateListingInventory
      parameters:
      - description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
          associated to this transaction.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The numeric ID for the [listing](/documentation/reference#tag/ShopListing)
            associated to this transaction.
          minimum: 1
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                products:
                  description: A JSON array of products available in a listing, even
                    if only one product. All field names in the JSON blobs are lowercase.
                  items:
                    $ref: '#/components/schemas/_v3_application_listings__listing_id__inventory_products'
                  type: array
                price_on_property:
                  description: An array of unique [listing property](/documentation/reference#operation/getListingProperties)
                    ID integers for the properties that change product prices, if
                    any. For example, if you charge specific prices for different
                    sized products in the same listing, then this array contains the
                    property ID for size.
                  items:
                    type: integer
                  type: array
                quantity_on_property:
                  description: An array of unique [listing property](/documentation/reference#operation/getListingProperties)
                    ID integers for the properties that change the quantity of the
                    products, if any. For example, if you stock specific quantities
                    of different colored products in the same listing, then this array
                    contains the property ID for color.
                  items:
                    type: integer
                  type: array
                sku_on_property:
                  description: An array of unique [listing property](/documentation/reference#operation/getListingProperties)
                    ID integers for the properties that change the product SKU, if
                    any. For example, if you use specific skus for different colored
                    products in the same listing, then this array contains the property
                    ID for color.
                  items:
                    type: integer
                  type: array
              required:
              - products
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingInventory'
          description: A single listing's inventory record.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request attempted to perform an operation it is not allowed
            to. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_w
      tags:
      - ShopListing Inventory
      x-contentType: application/json
      x-accepts: application/json
  /v3/application/listings/{listing_id}/inventory/products/{product_id}:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Open API V3 endpoint to retrieve a ListingProduct by ID.
      operationId: getListingProduct
      parameters:
      - description: The listing to return a ListingProduct for.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          description: The listing to return a ListingProduct for.
          minimum: 1
          type: integer
        style: simple
      - description: The numeric ID for a specific [product](/documentation/reference#tag/ShopListing-Product)
          purchased from a listing.
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          description: The numeric ID for a specific [product](/documentation/reference#tag/ShopListing-Product)
            purchased from a listing.
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingInventoryProduct'
          description: A single ListingInventoryProduct
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The request lacks valid authentication credentials. See the
            error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      security:
      - api_key: []
        oauth2:
        - listings_r
      tags:
      - ShopListing Product
      x-accepts: application/json
  /v3/application/listings/{listing_id}/products/{product_id}/offerings/{product_offering_id}:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Get an Offering for a Listing
      operationId: getListingOffering
      parameters:
      - explode: false
        in: path
        name: listing_id
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      - explode: false
        in: path
        name: product_id
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      - explode: false
        in: path
        name: product_offering_id
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingInventoryProductOffering'
          description: A single ListingInventoryProductOffering
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing Offering
      x-accepts: application/json
  /v3/application/listings/batch:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Allows to query multiple listing ids at once. Limit 100 ids maximum per query.
      operationId: getListingsByListingIds
      parameters:
      - description: The list of numeric IDS for the listings in a specific Etsy shop.
        explode: true
        in: query
        name: listing_ids
        required: true
        schema:
          description: The list of numeric IDS for the listings in a specific Etsy
            shop.
          items:
            minimum: 1
            type: integer
          type: array
        style: form
      - description: An enumerated string that attaches a valid association. Acceptable
          inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
        explode: true
        in: query
        name: includes
        required: false
        schema:
          description: An enumerated string that attaches a valid association. Acceptable
            inputs are 'Shipping', 'Shop', 'Images', 'User', 'Translations' and 'Inventory'.
          items:
            enum:
            - Shipping
            - Images
            - Shop
            - User
            - Translations
            - Inventory
            - Videos
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListingsWithAssociations'
          description: A list of Listings
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: There was a problem with the request data. See the error message
            for details.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: A resource could not be found. See the error message for details.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: The server encountered an internal error. See the error message
            for details.
      tags:
      - ShopListing
      x-accepts: application/json
  /v3/application/shops/{shop_id}/listings/featured:
    get:
      description: |-
        <div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><span class="wt-badge wt-badge--notification-03 wt-bg-slime-tint wt-mr-xs-2">General Release</span><a class="wt-text-link" href="https://github.com/etsy/open-api/discussions" target="_blank" rel="noopener noreferrer">Report bug</a></div><div class="wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3"><p class="wt-text-body-01 banner-text">This endpoint is ready for production use.</p></div>

        Retrieves Listings associated to a Shop that are featured.
      operationId: getFeaturedListingsByShop
      parameters:
      - description: The unique positive non-zero numeric ID for an Etsy Shop.
        explode: false
        in: path
        name: shop_id
        required: true
        schema:
          description: The unique positive non-zero numeric ID for an Etsy Shop.
          minimum: 1
          type: integer
        style: simple
      - description: The maximum number of results to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          description: The maximum number of results to return.
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The number of records to skip before selecting the first result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: The number of records to skip before selecting the first result.
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopListings'
[...]
